.contact_session{
    margin-top: 78px;
    overflow: hidden;
}
.contact_session_cards{
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
.contact_session_card{
    width: 52%;
    text-align: center;
    background: #FFFFFF;
    box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    padding: 40px 50px 40px 50px; 
}
.contact_session_card.one{
    margin-bottom: 100px;
}
.contact_session_card_content{
    font-family: 'Source sans Pro' , sans-serif;
    font-size: 18px;
}
.contact_session_card_content_pink{
    font-weight: 700;
    color: var(--primary_color);
}
.contact_session_card_content_link{
    color: black;
    font-weight: bold;
    
}
.contact_session_card_button{
    background-color: #FCD0AD;
    border: none;
    width: 40%;
    height: 56px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Source sans Pro' , sans-serif;
    color: #FDFDFD;
}
.contact_session_img{
    margin-left: -6%;
    margin-top: -540px;
}
footer{
    font-size: 12px;
    text-align: center;
    margin-top: 200px;
    padding: 10px;
}
@media screen and (max-width: 991px) {
    .contact_session_card{
        width: 80%;
        padding: 40px 17px 20px 17px;
        
    }
    .contact_session_img{
        margin-top: 30px
    }
    .contact_session_card_content{
        font-size: 16px;

    }
    .contact_session_card_button{
        font-size: 18px;
        width: 90%;
    }
    .contact_session_img_img{
        height: 250px;
        width: 250px;
        margin-left: -2%;
    }
    footer{
        font-size: 10px;
        margin-top: 40px;
    }
}

 
