:root{
  --primary_color: #FCD0AD;
  --secondary_color: #B5D2FE;
  --menu_hover_color: #FF4545;
  --text-color-black: #0E0E0E;
  --text-color-white: #FDFDFD;
}
*{
  scroll-behavior: smooth;
  
}
body {
  margin: 0;
  padding: 0;
}